In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
inflation = pd.read_csv('Germany_PI_1991-2020', index_col=0)

inflation.head()

      Consumer price index  Int Year
Year
1991                  65.5      1991
1992                  68.8      1992
1993                  71.9      1993
1994                  73.8      1994
1995                  75.1      1995

In [15]:
def get_input():
    
    ref = int(input('Enter reference year: '))
    tar = int(input('Enter target year: '))
    
    return ref, tar

In [16]:
def get_index():

    ref, tar = get_input()
    
    ref_index = inflation['Consumer price index'][ref]
    tar_index = inflation['Consumer price index'][tar]
    
    return ref_index, tar_index, ref, tar

In [23]:
def convert():
    
    ref_index, tar_index, ref, tar = get_index()
    ratio = tar_index / ref_index
    
    initial_value = float(input('Enter initial value in euros: '))
    final_value = round(initial_value * ratio, 2)
    
    print(f'{initial_value} euros from {ref} are worth {final_value} in {tar}.')
    
    return final_value

In [22]:
convert()

Enter reference year:  1991
Enter target year:  2020
Enter initial value in euros:  1000

1000.0 euros in 1991 are worth 1615.27 in 2020.

1615.27